// ========第七屏===========
.materialSection2 {
    background: #f4f4f4;

    .language1 {
        background: var(--background1);
        background-size: cover;
    }

    .language2 {
        background: var(--background3);
        background-size: cover;
    }

    .language3 {
        background: var(--background2);
        background-size: cover;
    }
}
