.buttonWrapper {
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  background: white;
  border: none;
  border-radius: 20px;
  padding: 0;
  height: 56px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.15));
  transition: transform 0.2s ease-in-out;
  width: max-content;
}

.button:hover {
  transform: translateY(-4px);
}

.buttonText {
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  color: #0a0a0a;
  padding: 0 24px;
}

.circle {
  width: 32px;
  height: 32px;
  background: #0a0a0a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .button {
    height: 40px;
  }

  .buttonText {
    padding: 0 18px;
  }

  .circle {
    width: 24px;
    height: 24px;
  }
}
