@use "styles/variables" as *;

.container {
  min-height: 180px;
  background: $bg-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 80px;
  gap: 120px;
  border-top: solid 1px $bg-light;

  @media (max-width: 900px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 24px;
  }
}

.left {
  display: flex;
  align-items: flex-start;
}

.logo {
  width: 185px;
}

.center {
  display: flex;
  flex: 2 1 0;
  align-items: flex-start;
  gap: 115px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;

  @media (max-width: 900px) {
    align-items: center;
  }

  @media (max-width: $bp-md) {
    align-items: center;
  }
}

.link {
  @include type('small');
  color: $color-navy;
  text-decoration: none;
  font-family: $font-sans;
  letter-spacing: 1px;
  margin-bottom: 4px;
  transition: color 0.2s;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #1a73e8;
  }
}

.right {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  min-width: 120px;
  justify-content: end;

  @media (max-width: 900px) {
    align-items: center;
    margin-top: 16px;
  }
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.5s;

  &:hover .socialIcon {
    background-color: #000000;
  }
}

.socialIcon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #666666;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transition: background-color 0.5s;
}

.bottom {
  @include type('small');
  background-color: $color-navy;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  font-family: $font-sans;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 12px;
  }
}

.copyright {
  display: inline-flex;
  align-items: center;
}

.picker {
  @media (min-width: 901px) {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}
