.container {
  padding: 96px 0;
  background: #f5f4f4;
  position: relative;
}

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "General Sans";
  font-weight: 200;
  font-size: 96px;
  line-height: 88px;
  letter-spacing: 0%;
  text-align: center;
  color: black;
}

.title span {
  font-family: "General Sans Italic";
  font-weight: 200;
  font-style: italic;
  font-size: 90px;
  line-height: 88px;
  letter-spacing: 0%;
  text-align: center;
}

.description {
  margin-top: 24px;
  font-family: "General Sans";
  color: #222526;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  max-width: 808px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 48px 16px;
  }

  .header {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 990px) {
  .title {
    font-size: 68px;
  }
}

.roadmapCardsWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow-x: auto;
  padding: 40px 25px;
  position: relative;
  z-index: 1;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  margin: 0 auto;
  cursor: grab;
  scroll-behavior: smooth;
  width: 100%;
}

.roadmapCardsWrapper:active {
  cursor: grabbing;
}

.roadmapCardsWrapper::-webkit-scrollbar {
  display: none;
}

.roadmapTimeline {
  position: absolute;
  top: 50%;
  /* left: 25px;
  right: 25px; */
  height: 1px;
  background: black;
  z-index: 0;
  transform: translateY(-50%);
  /* min-width: 100%; */
  left: 0;
  right: 0;
  width: 19717px;
}

.roadmapTimeline::before,
.roadmapTimeline::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.roadmapTimeline::before {
  left: 0;
}

.roadmapTimeline::after {
  right: 0;
}

@media (max-width: 1200px) {
  .roadmapCardsWrapper {
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-x: unset;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    padding: 25px 0;
    z-index: 1;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 40px;
  }

  .roadmapTimeline {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: black;
    transform: translateX(-50%);
    z-index: 0;
  }

  .roadmapTimeline::before,
  .roadmapTimeline::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .roadmapTimeline::before {
    top: 0;
  }

  .roadmapTimeline::after {
    bottom: 0;
    top: auto;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 44px;
    line-height: 60px;
  }
  .header {
    align-items: flex-start;
  }
  .description {
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    max-width: 100%;
  }
}

.yearIndicators {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0 0 0;
  z-index: 2;
}

.yearIndicatorBtn {
  background: transparent;
  border: 2px solid #263c85;
  color: #222526;
  font-family: "General Sans";
  font-size: 16px;
  font-weight: 500;
  padding: 4px 8px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border 0.2s;
  border-radius: 24px;
}

.yearIndicatorBtn:hover,
.yearIndicatorBtn:focus {
  background: #061937;
  color: #85f1ff;
  border-color: #061937;
}

.yearIndicatorBtnSelected {
  outline: none;
  background: #061937 !important;
  color: #85f1ff;
  border-color: #061937;
  box-shadow: 0 2px 8px rgba(34, 37, 38, 0.08);
}
.yearIndicatorBtn:active,
.yearIndicatorBtn:focus,
.yearIndicatorBtnSelected:active,
.yearIndicatorBtnSelected:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .yearIndicators {
    margin: 32px 0;
    justify-content: center;
    overflow-x: auto;
    padding: 0 16px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .yearIndicators::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .yearIndicatorBtn {
    scroll-snap-align: start;
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  .yearIndicators {
    justify-content: flex-start;
  }
}

.buttonsNavigator {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.yearNavBtn {
  flex: 1;
  font-size: 16px;
  background: #061937;
  color: white;
  border: none;
  border-radius: 0;
  padding: 16px 0;
  cursor: pointer;
  transition: opacity 0.2s;
  border-top: 1px solid #85f1ff;
  display: flex;
  justify-content: start;
  padding-left: 14px;
  font-size: 24px;
  align-items: center;
  gap: 3px;
}
.yearNavBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.yearNavBtn:active,
.yearNavBtn:focus {
  outline: none;
}

.yearNavBtn.left {
  border-right: 1px solid #85f1ff;
}
.yearNavBtn.right {
  border-left: 1px solid #85f1ff;
  justify-content: end;
  padding-right: 14px;
}
