// ========第二屏===========
.prodSection1 {
    font-family: Montserrat-Bold;

    .titleLinear {
        background: var(--background2);
        background-size: 100% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
