.container {
  padding-top: 169px; /* 96px + 146 / 2 */
  padding-bottom: 96px;
  gap: 96px;
  flex-direction: column;
  display: flex;
  background: #f5f4f4;
}

.titleWithContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.why {
  color: var(--Charcoal, #222526);
  text-align: center;
  font-family: "General Sans";
  font-size: 88px;
  font-style: normal;
  font-weight: 300;
  line-height: 88px;
}

.subtitle {
  color: var(--Charcoal, #222526);
  text-align: center;
  font-family: "General Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  max-width: 968px;
}

.content {
  color: var(--Charcoal, #222526);
  text-align: center;
  font-family: "General Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 200% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  max-width: 900px;
}

@media (max-width: 768px) {
  .container {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 24px;
  }
  .why {
    font-size: 44px;
    line-height: 44px;
  }
  .content {
    font-size: 14px;
    line-height: 24px;
    padding: 0 16px;
  }
}
