.container {
  background: #f5f4f4;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.main {
  width: 90%;
  background: white;
  margin: 0 auto;
  margin-top: 110px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 57px;
}

.itemSection {
  width: 100%;
  display: flex;
}
.leftContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 40px;
}

.rightContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "General Sans Italic";
  font-weight: 300;
  font-size: 96px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 1.5rem;
}

.description {
  font-family: "General Sans";
  color: #69737c;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  max-width: 90%;
}

.description a {
  color: #69737c;
  font-weight: 600;
  text-decoration: underline;
}

.indicators {
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
  flex-direction: row;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0.5px solid #353535;
  background: #ffffff;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}

.indicator.active {
  background-color: #061937;
}

.indicator:focus {
  outline: none;
}

.image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.error {
  text-align: center;
  padding: 4rem 2rem;
  color: #1a1a1a;
}

.mobileContainer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 57px;
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    background: white;
  }
}

.mobileItem {
  background: white;
}

.mobileTitle {
  font-family: "General Sans Italic";
  font-weight: 300;
  font-size: 96px;
  line-height: 88px;
  color: #000000;
  margin-bottom: 1.5rem;
}

.mobileDescription {
  font-family: "General Sans";
  color: #69737c;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}

.mobileDescription a {
  color: #69737c;
  font-weight: 600;
  text-decoration: underline;
}

.mobileImageContainer {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
}

.mobileImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
