.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%;
  padding: 40px;
  margin: 0 auto;
  background-color: #fcfafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 91px rgba(255, 255, 255, 0.2);
}

.modeToggle {
  width: max-content;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #e8e8e8;
  display: flex;
  border-radius: 25px;
  padding: 3px;
  font-family: "General Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modeButton {
  font-family: "General Sans";
  font-size: 16px;
  border-radius: 100px;
  color: #69737c;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.modeButtonActive {
  background: linear-gradient(120deg, #254088 40%, #1f9cd4);
  color: white;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  border-radius: 9999px;
}

.calculatorGrid {
  margin: 4rem auto;
  max-width: 56rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.inputGroup {
  margin-bottom: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.labelText {
  font-family: "General Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #69737c;
}

.optionalText {
  color: rgba(0, 0, 0, 0.6);
}

.inputWrapper {
  border-radius: 9999px;
  background-color: white;
  border: 1px solid #e1e1e1;
  padding: 0.5rem 1rem;
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input {
  background-color: white;
  color: #69737c;
  width: 100%;
  outline: none;
  border: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
}

.assetQualityContainer {
  grid-column: span 2;
}

.assetQualityWrapper {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.assetQualityHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.assetQualityLabel {
  font-size: 0.875rem;
  color: #69737c;
  font-family: "General Sans";
  font-weight: 400;
}

.storageSize {
  font-size: 0.875rem;
  color: #69737c;
  margin: 0 auto;
}

.costBreakdown {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.costBreakdownTitle {
  font-family: "General Sans";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #222526;
}
.divider {
  border-top: 1px solid #e2e8f0;
  padding-top: 1rem;
  margin-top: 1rem;
}
.costBreakdownItems {
  font-family: "General Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #69737c;
  width: 100%;
}
.costItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.costItemValue {
  display: inline-flex;
  align-items: center;
}

.ogyLogo {
  margin: 0 0.5rem;
  height: 1rem;
  width: 1rem;
}

.totalPrice {
  font-size: 1.25rem;
  font-weight: 600;
  color: #0ea5e9;
  display: flex;
  align-items: center;
}

.usdtPrice {
  font-size: 0.875rem;
}

.exchangeRate {
  font-size: 0.875rem;
  color: #64748b;
  margin-top: 0.5rem;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
  border-top: 2px solid #0ea5e9;
  border-bottom: 2px solid #0ea5e9;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: #ef4444;
}

.totalPriceWrapper {
  font-family: "General Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5%;
  vertical-align: middle;
  color: #222526;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  border: 1px solid #e8e8e8;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.totalPriceValue {
  font-family: "DM Sans Bold";
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
}
.totalPriceValueUsd {
  font-family: "General Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5%;
  vertical-align: bottom;
  color: #69737c;
}
.ogyToUsd {
  font-family: "General Sans";
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #69737c;
}
.totalPriceRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}
.dividerPrice {
  display: none;
}
@media (max-width: 768px) {
  .calculatorGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 24px 0;
  }

  .container {
    width: 100%;
    padding: 16px;
  }
  .calculatorGrid > div {
    width: 100%;
  }
  .inputGroup {
    width: 100%;
  }
  .inputWrapper {
    width: 100%;
    min-width: 0;
  }
  .modeToggle {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .modeButton,
  .modeButtonActive {
    flex: 1 1 50%;
    width: 50%;
    text-align: center;
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
  }

  .costBreakdown {
    padding: 0;
  }

  .dividerPrice {
    display: block;
    border-top: 1px solid #e2e8f0;
  }

  .label {
    justify-content: space-between;
  }
  .label img {
    width: 12px !important;
    height: 12px !important;
  }
  .labelText {
    font-size: 12px;
  }
  .assetQualityLabel {
    font-size: 12px;
  }
  .storageSize {
    font-size: 12px;
  }
}
